<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .page-container {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
        }
    </style>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="page-container">
        <h2>Query 1</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi con le relative informazioni. Inoltre, per ogni evento, verranno visualizzati gli artisti che hanno condotto tale evento e la somma che hanno guadagnato.</p>

        <h2>Query 2</h2>
        <p class="font-weight-normal">Inserisci un nuovo evento.</p>

        <h2>Query 3</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi con le relative spese totali dovute al pagamento degli artisti.</p>

        <h2>Query 4</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi con il relativo numero di partecipanti. Inoltre, per ogni evento, verrà visualizzato anche l'incasso totale dai biglietti acquistati.</p>

        <h2>Query 5</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi effettuati da una data X ad una data Y inserita dall'utente</p>

        <h2>Query 6</h2>
        <p class="font-weight-normal">Elenco di tutti gli artisti con un budget al di sotto di un prezzo inserito dall'utente.</p>

        <h2>Query 7</h2>
        <p class="font-weight-normal">Cancellazione di un evento. L'utente deve inserire l'ID esatto dell'evento.</p>

        <h2>Query 8</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi in cui ha partecipato un artista specifico. L'utente deve inserire il nome d'arte completo dell'artista.</p>

        <h2>Query 9</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi che si sono svolti in un determinato locale. L'utente deve inserire il nome del locale.</p>

        <h2>Query 10</h2>
        <p class="font-weight-normal">Elenco di tutti gli eventi con le relative informazioni. Per ogni evento verrà calcolato la differenza tra l'incasso totale e il budget speso per gli artisti in modo da verificare il guadagno veritiero.</p>
    </div>
</body>
</html>
