<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ url_for('welcome') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('retrieveEventiWithArtisti') }}">Query 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('query2') }}">Query 2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Query 3</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 4</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 5</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 6</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 7</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 8</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 9</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Query 10</a>
          </li>
        
    </div>
  </nav>