<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query 4 Results</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% include 'navbar.html' %}
    <div class="container">
        <h2>Risultati Query 4</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Data</th>
                    <th scope="col">Locale</th>
                    <th scope="col">Numero Partecipanti</th>
                    <th scope="col">Incasso Totale</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventi %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ evento['tema'] }}</td>
                    <td>{{ evento['data'] }}</td>
                    <td>{{ evento['nome_locale'] }}</td>
                    <td>{{ evento['numero_partecipanti'] }}</td>
                    <td>€{{ evento['incasso_totale'] }},00</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
