<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventi con Artisti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <h1 class="my-4">Eventi</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Data</th>
                    <th scope="col">Prezzo Biglietto</th>
                    <th scope="col">Nome Locale</th>
                    <th scope="col">Artisti</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventi %}
                    <tr>
                        <th scope="row">{{ evento['_id'] }}</th>
                        <td>{{ evento['tema'] }}</td>
                        <td>{{ evento['data'] }}</td>
                        <td>€{{ evento['prezzo_biglietto'] }},00</td>
                        <td>{{ evento['nome_locale'] }}</td>
                        <td>
                            <ul>
                                {% for artista in evento['artisti'] %}
                                    <li>{{ artista['nome_arte'] }} ({{ artista['tipo'] }}) - €{{ artista['prezzo_artista'] }},00</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
